  <app-tabla-comun [cabeceros]="displayedColumns" [info-tabla]="dataTableBody" [titulo]="'Creación del programa'"
    (onCreate)="openModalGestionProgramas(templateGestionProgramas, '')" (onChangeStatus)="actualizarEstadoGestionProgramas($event)"
    (onEdit)="openModalGestionProgramas(templateGestionProgramas, $event)" (onDelete)="eliminarGestionProgramas($event.idProgram)">
  </app-tabla-comun>

<ng-template #templateGestionProgramas>

  <form [formGroup]="formulario" class="grid-2">
    <mat-form-field>
      <mat-label>Programa</mat-label>
      <input matInput type="text" formControlName="desprogram">
      <mat-error>Obligatorio</mat-error>
  </mat-form-field>

  <div class="contieneToggle">
    <label class="labelToggle">Estado</label>
    <mat-slide-toggle formControlName="active" labelPosition="top"></mat-slide-toggle>
  </div>
  </form>
</ng-template>
