  <app-tabla-comun [cabeceros]="displayedColumns" [info-tabla]="dataTableBody" [titulo]="'Reactivos'"
    (onCreate)="openModalGestionReactivos(templateGestionReactivos, '')" (onChangeStatus)="actualizarEstadoGestionReactivos($event)"
    (onEdit)="openModalGestionReactivos(templateGestionReactivos, $event)" (onDelete)="eliminarGestionReactivos($event.idreagents)">
  </app-tabla-comun>

<ng-template #templateGestionReactivos>
  <form [formGroup]="formaGestionReactivos" class="grid-2">
    <mat-form-field>
      <mat-label>Reactivo</mat-label>
      <input matInput type="text" formControlName="desreagents">
      <mat-error>Obligatorio</mat-error>
  </mat-form-field>

  <div class="contieneToggle">
    <label class="labelToggle">Estado</label>
    <mat-slide-toggle formControlName="active" labelPosition="top"></mat-slide-toggle>
  </div>
  </form>


</ng-template>


