  <app-tabla-comun [cabeceros]="displayedColumns" [info-tabla]="dataTableBody" [titulo]="'Métodos'"
    (onCreate)="openModalGestionMetodos(templateGestionMetodos, '')" (onChangeStatus)="actualizarGestionMetodos($event)"
    (onEdit)="openModalGestionMetodos(templateGestionMetodos, $event)" (onDelete)="eliminarGestionMetodo($event)">
  </app-tabla-comun>

<ng-template #templateGestionMetodos>

  <form [formGroup]="formaGestionMetodos" class="grid-2">
    
    <mat-form-field>
      <mat-label>Método</mat-label>
      <input matInput type="text" formControlName="desmethods">
      <mat-error>Obligatorio</mat-error>
    </mat-form-field>

    <div class="contieneToggle">
      <label class="labelToggle">Estado</label>
      <mat-slide-toggle formControlName="active" labelPosition="top"></mat-slide-toggle>
    </div>

  </form>
</ng-template>
