<h1 style="margin-top: 3em;">Reporte desempeño cualitativo</h1>

<form [formGroup]="formulario" class="formulario-principal">

  <mat-form-field>
    <mat-label>Cliente</mat-label>
    <mat-select disableOptionCentering formControlName="idclient">
      <mat-option>
        <ngx-mat-select-search [formControl]="filterCliente" placeholderLabel="Buscar cliente..."
          noEntriesFoundLabel="No se encontró un resultado">
        </ngx-mat-select-search>
      </mat-option>
      <mat-option value="">
        --
      </mat-option>
      <mat-option *ngFor="let cliente of clientes" [value]="cliente.idclient" [matTooltipPosition]="'right'"
        [matTooltip]="cliente.name" (click)="cargarSedes(cliente.header)">
        {{ cliente.name }}
      </mat-option>
    </mat-select>
    <mat-error>Obligatorio</mat-error>
  </mat-form-field>
  
      <mat-form-field>
        <mat-label>
          Sede
        </mat-label>
        <mat-select [disabled]="formulario.get('idclient')?.invalid" disableOptionCentering
          formControlName="idsede" (selectionChange)="consultarProgramas()">
          <mat-option>
            <ngx-mat-select-search [formControl]="filterSede" placeholderLabel="Buscar sede..."
              noEntriesFoundLabel="No se encontró un resultado">
            </ngx-mat-select-search>
          </mat-option>
          <mat-option value="" (click)="formulario.get('idsede')?.setValue(null)">
            --
          </mat-option>
          <mat-option *ngFor="let sede of sedes" [value]="sede.idheadquarters" [matTooltipPosition]="'right'"
            [matTooltip]="sede.desheadquarters">
            {{ sede.desheadquarters }}
          </mat-option>
        </mat-select>
      </mat-form-field>

  <mat-form-field>
    <mat-label>Programa</mat-label>
    <mat-select disableOptionCentering formControlName="idProgram">
      <mat-option>
        --
      </mat-option>
      <mat-option>
        <ngx-mat-select-search [formControl]="filterPrograma" placeholderLabel="Buscar programa..."
          noEntriesFoundLabel="No se encontró un resultado">
        </ngx-mat-select-search>
      </mat-option>
      <mat-option *ngFor="let program of listprogram" [value]="program.idProgram" [matTooltipPosition]="'right'"
        [matTooltip]="program.desprogram" (click)="selectRonda(program.idProgram)">
        {{ program.desprogram | titlecase }}
      </mat-option>
    </mat-select>
    <mat-error>Obligatorio</mat-error>
  </mat-form-field>



  <mat-form-field>
    <mat-label>Ronda</mat-label>
    <mat-select disableOptionCentering formControlName="idRonda">
      <mat-option>
        --
      </mat-option>
      <mat-option>
        <ngx-mat-select-search [formControl]="filterRonda" placeholderLabel="Buscar rondas..."
          noEntriesFoundLabel="No se encontró un resultado">
        </ngx-mat-select-search>
      </mat-option>
      <mat-option *ngFor="let ronda of rondas" [value]="ronda.nroround" [matTooltipPosition]="'right'"
        [matTooltip]="ronda.nroround" (click)="selectSample(ronda.nroround)">
        {{ ronda.nroround }}
      </mat-option>
    </mat-select>
    <mat-error>Obligatorio</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Muestra</mat-label>
    <mat-select disableOptionCentering formControlName="idMuestra">
      <mat-option>
        --
      </mat-option>
      <mat-option>
        <ngx-mat-select-search [formControl]="filterMuestra" placeholderLabel="Buscar rondas..."
          noEntriesFoundLabel="No se encontró un resultado">
        </ngx-mat-select-search>
      </mat-option>
      <mat-option *ngFor="let muestra of listaMuestras" [value]="muestra.IdSample" [matTooltipPosition]="'right'"
        [matTooltip]="muestra.Serialsample" (click)="selectAnalito(muestra.IdSample)">
        {{ muestra.Serialsample }}
      </mat-option>
    </mat-select>
    <mat-error>Obligatorio</mat-error>
  </mat-form-field>


  <mat-form-field>
    <mat-label>
      Analitos
    </mat-label>
    <mat-select formControlName="idAnalito" multiple>
      <mat-option value="" (click)="selectNone('idAnalito')">
        --
      </mat-option>
      <mat-option>
        <ngx-mat-select-search [formControl]="filterAnalito" placeholderLabel="Buscar analito..."
          noEntriesFoundLabel="No se encontró un resultado">
        </ngx-mat-select-search>
      </mat-option>
      <mat-option value="-1" (click)="selectAll('idAnalito')" *ngIf="analytes.length != 0">
        Todos los analitos
      </mat-option>
      <mat-option *ngFor="let analito of analytes" [matTooltipPosition]="'right'" [matTooltip]="analito.desanalytes"
        [value]="analito.idanalytes" (click)="selectOne('idAnalito')">
        {{ analito.desanalytes }}
      </mat-option>
    </mat-select>
  </mat-form-field>



  <div>
    <button type="button" class="btnPurple-01" (click)="buscar()" [disabled]="formulario.invalid">
      Buscar <mat-icon>search</mat-icon></button>
  </div>


</form>

<mat-icon svgIcon="table" style="color:aqua"></mat-icon>



@if(verInfo){

<div class="tabs-imprimir">
  <div class="bar-nav-tabs mat-elevation-z1">

    @for (tab of navTabs; track $index) {
    <div class="container-tab" [ngClass]="{'tab-active': currendTab == $index + 1}" [matTooltip]="tab.name"
      (click)="moverAmbulante($index + 1)">
      <mat-icon [class]="tab.registro"  [svgIcon]="tab.registro" ></mat-icon>
      <span>{{tab.name}}</span>
    </div>
    }

    <div class="cuadro-ambulante"> </div>

  </div>



  <div class="btn-imprimir-container">
    <div class="btn-imprimir" (click)="openModalReporteSemiCuantitativo(templateReportDesempenioCualitativo)">
      Generar reporte
    </div>
  </div>

</div>


<div class="graphs-container mat-elevation-z1">

  <ng-container [ngSwitch]="itemSelected">
    <ng-container *ngSwitchCase="1" [ngTemplateOutlet]="item_1"></ng-container>
    <ng-container *ngSwitchCase="2" [ngTemplateOutlet]="item_2"></ng-container>
    <ng-container *ngSwitchCase="3" [ngTemplateOutlet]="item_3"></ng-container>
    <ng-container *ngSwitchCase="4" [ngTemplateOutlet]="item_4"></ng-container>
    <ng-container *ngSwitchCase="5" [ngTemplateOutlet]="item_5"></ng-container>
  </ng-container>
</div>





<ng-template #item_1>
  <div *ngIf="itemSelected == 1" class="container-concordancia">

    <table class="mat-elevation-z1">
      <thead>
        <tr>
          <th>N°</th>
          <th>Muestra</th>
          <th>Analito</th>
          <th>VP</th>
          <th>VN</th>
          <th>FN</th>
          <th>FP</th>
          <th>I</th>
          <th>Consenso</th>
          <th>Su Resultado</th>
          <th>%C</th>
          <th>Desempeño</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of datosFiltro.reactivoValueList; let i = index">
          <td>{{item.n}}</td>
          <td>{{item.sample}}</td>
          <td>{{item.desAnalytes}}</td>
          <td>{{item.tvp}}</td>
          <td>{{item.tvn}}</td>
          <th [ngClass]="{'even-class': i % 2 === 0, 'odd-class': i % 2 !== 0}">{{item.tfn}}</th>
          <td>{{item.tfp}}</td>
          <td>{{item.ti}}</td>
          <td>{{item.consenso}}</td>
          <td>{{item.resultado}}</td>
          <td>{{item.c}}</td>
          <td>{{item.desempeno}}</td>
        </tr>
      </tbody>
    </table>


    <div id="contResult">
      <table class="mat-elevation-z1">
        <thead>
          <tr>
            <th>Resultado total de concordancia</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{datosFiltro.resultConcor}}</td>
          </tr>
        </tbody>
      </table>


      <table class="mat-elevation-z1">
        <thead>
          <tr>
            <th>Desempeño global</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{datosFiltro.desempeGlobal}}</td>
          </tr>
        </tbody>
      </table>


      <!-- <div>
        <p>Resultado total de concordancia</p>
        <p class="text-center">{{datosFiltro.resultConcor}}</p>
      </div> -->
      <!-- <div>
        <p>Desempeño global</p>
        <p class="text-center">{{datosFiltro.desempeGlobal}}</p>
      </div> -->
    </div>

  </div>

</ng-template>

<!-- GRÁFICA BARRAS -->
<ng-template #item_2 id="key_2">
  <div *ngIf="itemSelected == 2" class="cont_report">

    <div *ngFor="let item of datosGraf; let i = index" class="cont_graf">
      <div [style]="'width:100%;  aspect-ratio: 1 / 1;'" id="chart{{i}}"></div>
    </div>/

  </div>
</ng-template>

<!-- GRÁFICA TORTA -->
<ng-template #item_3 id="key_3">
  <div *ngIf="itemSelected == 3" class="cont_report">
    <div *ngFor="let item of datosGraf; let i = index" class="cont_graf">
      <!-- <div class="title_torta">{{item.sample}}</div> -->
      <div [style]="'width:100%; aspect-ratio: 1 / 1;'" id="chartTorta{{i}}"></div>
    </div>
  </div>
</ng-template>

<!-- GRÁFICA LINEAS -->
<ng-template #item_4 id="key_4">
  @if(itemSelected === 4){
  <div class="cont_report">
    <div *ngFor="let item of datosGraf; let i = index" class="cont_graf">
      <div [style]="'width:100%; aspect-ratio: 1 / 1;'" id="chartLine{{i}}"></div>
    </div>

    <div class="table-btn-float">
      <img  [src]="'concordancia-blanco.svg' | imageCdn" (click)="interpretar(scoreTable)">
    </div>
    
    <div style="display : flex;  justify-content: center;align-items: center;">
      <table class="mat-elevation-z1">
        <thead>
          <tr>
            <th style="padding: 2em;">Muestra</th>
            <th style="padding: 2em;">Analito</th>
            <th style="padding: 2em;">(%DEV)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of datosGraf; let i = index">
            <td style="text-align: center;">{{item.Sample}}</td>
            <td style="text-align: center;">{{item.DesAnalytes}}</td>
            <td style="text-align: center;">{{item.zscoredev}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
  }
</ng-template>


<ng-template #scoreTable>
  <table class="mat-elevation-z1" style="width: 100%; margin-bottom: 2em;">
    <thead class="">
      <tr>
        <th>Interpretación</th>
        <th>Puntuación</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of interpretacion">
        <td>{{item.value}}</td>
        <td>{{item.puntuacion}}</td>
      </tr>
    </tbody>
  </table>
</ng-template>

<!-- GRÁFICA Z-SCORE -->
<ng-template #item_5 id="key_5">
  <div *ngIf="itemSelected == 5" class="cont_report">
    <div *ngFor="let item of datosGraf; let i = index" class="cont_graf">
      <div #chartZscore id="chartZscore{{i}}" style="width:100%; aspect-ratio: 1 / 1;"></div>
    </div>
  </div>
</ng-template>


 <ng-template #templateReportDesempenioCualitativo>
  <form [formGroup]="formStatusSample" class="grid-4 responsive-form">
    
    <mat-form-field>
      <mat-label>Tipo de muestra</mat-label>
      <input matInput formControlName="typeSample">
      <mat-error *ngIf="formStatusSample.get('typeSample')?.hasError('required')">Obligatorio</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Condición de muestra</mat-label>
      <input matInput formControlName="sampleConditions">
      <mat-error *ngIf="formStatusSample.get('sampleConditions')?.hasError('required')">Obligatorio</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Fecha de recepción</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dateReception">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="formStatusSample.get('dateReception')?.hasError('required')">Obligatorio</mat-error>
    </mat-form-field>

    <!-- Radio grupo en línea: label + botones al frente -->
    <div class="radio-inline-group">
      <label class="radio-label">Muestra recibida en buenas condiciones:</label>
      <mat-radio-group formControlName="sampleReceived" class="horizontal-radio">
        <mat-radio-button value=true>Sí</mat-radio-button>
        <mat-radio-button value=false>No</mat-radio-button>
      </mat-radio-group>
      <mat-error *ngIf="formStatusSample.get('sampleReceived')?.hasError('required')">Obligatorio</mat-error>
    </div>

    <!-- Textarea full width -->
    <mat-form-field class="full-width" style="grid-column: span 4;">
      <mat-label>Observaciones del reporte</mat-label>
      <textarea matInput rows="3" formControlName="observations"></textarea>
      <mat-error *ngIf="formStatusSample.get('observations')?.hasError('required')">Obligatorio</mat-error>
    </mat-form-field>
    
  </form>
</ng-template>


}
